<div class="landing-page">

    <form [formGroup]="landingform">
        <div class="form-control"><label for="email">Email: </label>
            <input type="text" name="email" id="email" placeholder="Abc@xyz.com" formControlName="email" />
            <div class="input-error-msg" *ngIf="email !== null && email.touched && email.errors?.required">Email is
                required.</div>
            <div class="input-error-msg" *ngIf="email !== null && email.touched && email.errors?.email">Please enter a
                valid
                email.</div>
        </div>

        <div class="form-control">
            <label for="password">Password: </label>
            <input type="password" name="password" id="password" placeholder="*****" formControlName="password" />
        </div>
        <div class="form-control">
            <app-button *ngIf="email !== null && email.touched && email.valid 
        && password !== null && password.touched && password.valid" color="skyblue" text="Next"
                (btnClick)="submitForm()"></app-button>
        </div>
    </form>
    <div *ngIf="authenticationStatusMsg !== '' ">
        {{authenticationStatusMsg}}
    </div>
    <a routerLink="/register">New User ? Register here</a>

</div>