/* You can add global styles to this file, and also import other style files */
.input-error-msg{
    color: red;
}

body{
    background-color: rgb(39, 39, 39);
    color: white;
}

a{
    color: skyblue;
}